{% extends 'base.html.twig' %}

{% set noMenu = true %}
{% set noFooter = true %}

{% block content %}
    {% if wrcApplication.style.css is defined %}
        <style>
            {{ wrcApplication.style.css|raw }}
        </style>
    {% endif %}
<section class="section border-primary">
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">
            <div class="col-12 col-md-6 col-lg-7 {% if not is_granted('IS_AUTHENTICATED_FULLY') %} offset-md-1 {% endif %}
            order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">

                <div class="p-5" style="border-radius: 25px">
                    <!-- Heading -->
                    {% if wrcApplication.style.favicon.base64 is defined %}
                        <div class="text-center">
                            <img class="" style="width: 100px;" src="{{ wrcApplication.style.favicon.base64 }}" alt="...">
                        </div>
                    {% endif %}

                    <h1 class="mb-0 font-weight-bold text-center">
                        {{ application.name|capitalize }}
                    </h1>

                    <!-- Text -->
                    <p class="mb-4 text-center text-muted">
                        {% if application.description is defined and application.description is not empty %}
                            {{ application.description }}
                        {% endif %}
                    </p>

                    <h4 class="mb-0 font-weight-bold text-center">
                        {{ "boss and owner of your own data"|trans|capitalize }}.
                    </h4>
                    <p class="mb-2 text-center text-muted">
                        {{ "Id-vault is a place to savely store your online data, where you stay the owner and decide who can or can't access and use your data"|trans|capitalize }}.
                    </p>

                    <p class="mb-4 text-center">
                        <a target="_blank" href="{{ path('app_default_index') }}">{{ 'read more_2'|trans }}</a>
                    </p>

                    <p class="mb-2 text-center">
                        {{ 'the application is requesting the following scopes from you'|trans|capitalize }}:
                    </p>

                    <ul class="text-center list-group list-group-flush mb-2">
                        {% if scopes is defined and scopes is not empty %}
                            {% for scope in scopes %}
                                <li style="list-style: none;" class=" text-muted">
                                    {{ scope }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>

                    <p class="mb-2 text-center">
                        <a target="_blank" href="{{ path('app_documentation_scopes') }}">{{ 'read more about scopes'|trans }}</a>
                    </p>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="text-center">
                            <form method="post" action="{{ path('app_oauth_authorize') }}">
                                {%  if scopes is defined %}
                                    {% for scope in scopes %}
                                        <input type="hidden" name="scopes[]" value="{{ scope }}">
                                    {% endfor %}
                                {% endif %}
                                {% if state is defined %}
                                    <input type="hidden" name="state" value="{{ state }}">
                                {% endif %}
                                {% if application is defined %}
                                    <input type="hidden" name="application" value="{{ application.id }}">
                                {% endif %}
                                <button name="grantAccess" value="true" class="navbar-btn btn btn-sm btn-success lift ml-auto">
                                    {{ 'accept'|trans|capitalize }}
                                </button>
                                <button name="grantAccess" value="false" class="navbar-btn btn btn-sm btn-danger ml-lg-2 mt-4 mt-lg-0 lift ml-auto">
                                    {{ 'decline'|trans|capitalize }}
                                </button>
                            </form>
                        </div>
                    {% endif %}
                </div>

            </div>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <div style="color: black" class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
                    <div class="p-5 bg-white" style="border-radius: 25px">
                        <!-- Heading -->
                        <h1 class="mb-0 font-weight-bold text-center">
                            {{ 'login'|trans|capitalize }}
                        </h1>

                        <!-- Text -->
                        <p class="mb-6 text-center text-muted">
                            {{ 'store your data in minutes'|trans|capitalize }}.
                        </p>

                        <!-- Form -->
                        <form method="post" action="{{ path('app_user_login') }}?backUrl={{ path('app_dashboard_general') }}"
                              name="thisForm" class="mb-6">

                            <!-- Email -->
                            <div class="form-group">
                                <label for="email">
                                    {{ 'email address'|trans|capitalize }}
                                </label>
                                <input required type="email" name="username" class="form-control" id="email"
                                       placeholder="{{ 'name@address.com'|trans }}">
                            </div>

                            <!-- Password -->
                            <div class="form-group mb-5">
                                <label for="password">
                                    {{ 'password'|trans|capitalize }}
                                </label>
                                <input required type="password" name="password" class="form-control" id="password"
                                       placeholder="{{ 'enter your password'|trans|capitalize }}">
                            </div>

                            <!-- Submit -->
                            <button class="btn btn-block btn-primary" type="submit">
                                {{ 'sign in'|trans|capitalize }}
                            </button>

                        </form>

                        <!-- Text -->
                        <p class="mb-0 font-size-sm text-center text-muted">
                            {{ "don't have an account yet"|trans|capitalize }}?
                            <a href="{{ path('app_default_register') }}">{{ 'sign up'|trans|capitalize }}</a>.
                        </p>
                    </div>
                </div>
            {% endif %}
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
{% endblock %}
