<div class="modal fade" id="modalDeleteDossier{{ dossier.id }}" tabindex="-1" role="dialog" aria-labelledby="modalDeleteDossierTitle{{ dossier.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <!-- Close -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                {% if dossier.legal %}
                    <!-- Heading -->
                    <h2 class="font-weight-bold text-center mb-1" id="modalDeleteDossierTitle{{ dossier.id }}">
                        {{ 'You cannot delete this dossier because of legal reasons!'|trans|capitalize }}
                    </h2>
                    <br>
                    <h3 class="text-center">
                        {{ dossier.basis }}
                    </h3>
                {% else %}
                    <!-- Heading -->
                    <h2 class="font-weight-bold text-center mb-1" id="modalDeleteDossierTitle{{ dossier.id }}">
                        {{ 'Are you sure you want to delete this dossier?'|trans|capitalize }}
                    </h2>
                    <br>
                    <h3 class="text-center">
                        {{ dossier.basis }}
                    </h3>
                    <br>

                    <!-- Form -->
                    <form method="post" action="{{ path('app_dashboard_dossiers') }}" enctype="multipart/form-data">
                        <input type="hidden" name="dossierID" value="{{ dossier.id }}">

                        <!-- No -->
                        <button type="button" class="btn btn-block btn-primary mt-3 lift" data-dismiss="modal" aria-label="Close">
                            {{ 'no'|trans|capitalize }}
                        </button>

                        <!-- Yes -->
                        <button
                                {% if claim is defined %}
                                    name="deleteClaimAuthorizationDossier"
                                {% elseif authorization is defined %}
                                    name="deleteAuthorizationDossier"
                                {% else %}
                                    name="deleteDossier"
                                {% endif %}
                                style="background-color: red"
                                value="true"
                                class="btn btn-block btn-primary mt-3 lift">
                            {{ 'yes'|trans|capitalize }}
                        </button>

                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
