
<!-- Heading -->
<h6 class="text-uppercase font-weight-bold">
    {{ 'getting started'|trans|capitalize }}
</h6>

<!-- Links -->
<ul class="list mb-6">
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_index') }}">{{ 'introduction'|trans|capitalize }}</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_tutorial') }}">{{ 'tutorial'|trans|capitalize }}</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_support') }}">{{ 'support'|trans|capitalize }}</a>
    </li>
</ul>

<!-- Heading -->
<h6 class="text-uppercase font-weight-bold">
    {{ 'documentation'|trans|capitalize }}
</h6>

<!-- Links -->
<ul class="list mb-6">
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_glossary') }}">{{ 'glossary'|trans|capitalize }}</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_architecture') }}">{{ 'architecture'|trans|capitalize }}</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_scopes') }}">{{ 'scopes'|trans|capitalize }}</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_plugins') }}">{{ 'plugins'|trans|capitalize }}</a>
    </li>
    <li class="list-item d-flex">
        <a class="list-link" href="{{ path('app_documentation_beta') }}">{{ 'roadmap'|trans|capitalize }}</a><span class="badge badge-pill badge-danger-soft ml-auto align-self-center">{{ 'closed betá'|trans|capitalize }}</span>
    </li>
</ul>


<!-- Heading -->
<h6 class="text-uppercase font-weight-bold">
    {{ 'legal'|trans|capitalize }}
</h6>

<!-- Links -->
<ul class="list mb-6">
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_terms') }}">{{ 'Terms & Conditions'|trans|capitalize }}</a>
    </li>
    <li class="list-item">
        <a class="list-link" href="{{ path('app_documentation_privacy') }}">{{ 'Privacy'|trans|capitalize }}</a>
    </li>
</ul>
