<nav class="navbar navbar-expand-lg navbar-light {% if menuFixedTop is defined and menuFixedTop == true %}fixed-top{% endif %} bg-white">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="{{ path('app_default_index') }}">
            <h1>
                <strong><span class="text-primary">ID-Vault</span>.</strong>
            </h1>
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_default_users') }}">{{ 'for users'|trans|capitalize }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=".{{ path('app_default_organizations') }}">{{ 'for organizations'|trans|capitalize }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                        {{ 'documentation'|trans|capitalize }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
                        <div class="list-group list-group-flush">
                            <a class="list-group-item" href="{{ path('app_documentation_index') }}">

                                <!-- Icon -->
                                <div class="icon icon-sm text-primary">
                                    <img src="/bundles/landkit/img/icons/duotone-icons/Tools/Tools.svg" >
                                </div>

                                <!-- Content -->
                                <div class="ml-4">

                                    <!-- Heading -->
                                    <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                                        {{ 'technics'|trans|capitalize }}
                                    </h6>

                                    <!-- Text -->
                                    <p class="font-size-sm text-gray-700 mb-0">
                                        {{ 'how does it work'|trans|capitalize }}?
                                    </p>

                                </div>

                            </a>
                            <a class="list-group-item" href="./api">
                                <!-- Icon -->
                                <div class="icon icon-sm text-primary">
                                    <img src="/bundles/landkit/img/icons/duotone-icons/Text/Align-auto.svg" >
                                </div>

                                <!-- Content -->
                                <div class="ml-4">
                                    <!-- Heading -->
                                    <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                                        {{ 'terminology'|trans|capitalize }}
                                    </h6>
                                    <!-- Text -->
                                    <p class="font-size-sm text-gray-700 mb-0">
                                        {{ 'terminology for id-vault'|trans|capitalize }}
                                    </p>


                                </div>

                            </a>
                            <a class="list-group-item" href="./docs">

                                <!-- Icon -->
                                <div class="icon icon-sm text-primary">
                                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"/><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" x="7" y="10" width="5" height="2" rx="1"/><rect fill="#335EEA" opacity=".3" x="7" y="14" width="9" height="2" rx="1"/></g></svg>
                                </div>

                                <!-- Content -->
                                <div class="ml-4">

                                    <!-- Heading -->
                                    <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                                        {{ 'documentation'|trans|capitalize }}
                                    </h6>

                                    <!-- Text -->
                                    <p class="font-size-sm text-gray-700 mb-0">
                                        {{ 'how does it work'|trans|capitalize }}?
                                    </p>

                                </div>

                            </a>
                            <a class="list-group-item" href="/api">

                                <!-- Icon -->
                                <div class="icon icon-sm text-primary">
                                    <img src="/bundles/landkit/img/icons/duotone-icons/Code/Code.svg" >
                                </div>

                                <!-- Content -->
                                <div class="ml-4">

                                    <!-- Heading -->
                                    <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                                        API
                                    </h6>

                                    <!-- Text -->
                                    <p class="font-size-sm text-gray-700 mb-0">
                                        Full list of available api calls
                                        <!-- Badge -->
                                        <span class="badge badge-pill badge-primary-soft ml-auto">
                                          1.0.1 Alpha
                                        </span>
                                    </p>


                                </div>

                            </a>
                            <a class="list-group-item" href="#">

                                <!-- Icon -->
                                <div class="icon icon-sm text-primary">
                                    <img src="/bundles/landkit/img/icons/duotone-icons/Communication/Shield-user.svg" >
                                </div>

                                <!-- Content -->
                                <div class="ml-4">

                                    <!-- Heading -->
                                    <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                                        Terms & Privacy
                                    </h6>

                                    <!-- Text -->
                                    <p class="font-size-sm text-gray-700 mb-0">
                                        How do we keep your data save
                                    </p>

                                </div>

                            </a>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- Button -->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="{{ path('app_dashboard_general') }}">
                    {{ 'dashboard'|trans|capitalize }}
                </a>
            {% else %}
                <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="{{ path('app_default_register') }}">
                    {{ 'register'|trans|capitalize }}
                </a>
                <a style="" class="navbar-btn btn btn-sm btn-success ml-lg-2 mt-4 mt-lg-0 lift ml-auto" href="{{ path('app_default_login') }}">
                    {{ 'login'|trans|capitalize }}
                </a>
            {% endif %}
        </div>

    </div>
</nav>
