<section class="pt-8 pb-8 pb-md-11 pt-md-11">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">

                <!-- Image -->
                <img src="" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up" data-aos-delay="100">

            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">

                <!-- Heading -->
                <h1 class="display-3 text-center text-md-left">
                    {{ 'welcome to'|trans|capitalize}} <span class="text-primary">ID-Vault</span>. <br>
                    {{ 'your online digital twin'|capitalize }}
                </h1>

                <!-- Text -->
                <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                    {{ "ID-Vault is a place to savely store your online data, where you stay the owner and dicide who can or can't acces and use your data"|capitalize }}
                </p>

                <!-- Buttons -->
                <div class="text-center text-md-left">
                    <a href="#" class="btn btn-primary shadow lift mr-1">
                        {{ 'for users'|trans|capitalize }} <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                    </a>
                    <a href="#" class="btn btn-primary lift">
                        {{ 'for developers'|trans|capitalize }} <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                    </a>
                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
