{% extends 'dashboard/dashboard.html.twig' %}

{% block pageContent %}
    <div class="container-md">
        <div class="row">
            <div class="col-12 col-md-3">

                {% set activeItem = 'applications' %}
                {% include 'dashboard/sidenavbar.html.twig' %}

            </div>

            <div class="col-12 col-md-9">

                <!-- Card -->
                <div class="card card-bleed shadow-light-lg mb-6">
                    <div class="card-header">

                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Heading -->
                                <h4 class="mb-0">
                                    {{ 'applications'|capitalize }}
                                </h4>

                            </div>
                            <div class="col-auto">
                                {% if organizations is defined and organizations is not empty %}
                                    <!-- Button -->
                                    <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modalApplication">
                                        {{ 'add new'|trans|capitalize }}
                                    </button>
                                {% else %}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="you can't make an application if you are not part of an organization">
                                        <button disabled style="pointer-events: none;" type="button" class="btn btn-xs btn-primary">
                                            {{ 'add new'|trans|capitalize }}
                                        </button>
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            {% if applications is defined and applications is not empty %}
                                {% for application in applications %}
                                    {% if application.contact is defined and application.contact is not empty and application.contact %}
                                        {% set applicationContact = commonground_resource(application.contact) %}
                                    {% endif %}
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                {% if applicationContact.style.favicon.base64 is defined %}
                                                    <!-- Avatar -->
                                                    <div class="avatar avatar-xl">
                                                        <img
                                                            class="avatar-img"
                                                            src="{{ applicationContact.style.favicon.base64 }}"
                                                            alt="..."
                                                            style="object-fit: fill;
                                                            {% if application.backgroundColor is defined and application.backgroundColor|length > 0 %}
                                                                background-color: {{ application.backgroundColor[1] }};
                                                            {% endif %}"
                                                        >
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="col ml-n5">
                                                <!-- Heading -->
                                                <p class="mb-0">
                                                    {{ application.name }}
                                                </p>
                                            </div>
                                            <div class="col-12 col-md-auto">
                                                <a class="btn btn-xs btn-primary btn-block mt-5 mt-md-0" href="{{ path('app_dashboard_application', {id: application.id}) }}">Open</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

    <script>

    </script>

    <!-- modals -->
    {% if organizations is defined and organizations is not empty %}
        {% include 'dashboard/modals/add_application_modal.html.twig' with {
            'route': 'app_dashboard_applications',
            'organizations': organizations
        } %}
    {% endif %}
{% endblock %}
