{% extends 'dashboard/dashboard.html.twig' %}

{% block pageContent %}
    <div class="container-md">
        <div class="row">
            <div class="col-12 col-md-3">
                {% set activeItem = 'claimYourData' %}
                {% include 'dashboard/sidenavbar.html.twig' %}

            </div>

            <div class="col-12 col-md-9">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <!-- Card -->
                                <a style="text-decoration: none" href="{{ commonground_cleanurl({"component":"ds"}) }}?responceUrl={{ path('app_dashboard_claimyourdata') }}">
                                    <div class="card card-bleed shadow-light-lg mb-6 lift">
                                        <div class="card-body text-center">
                                            Rijksoverheid
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if changedInfo is defined and changedInfo is not empty %}
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">{{ 'changes'|trans|capitalize }}</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key, value in changedInfo %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div> <!-- / .row -->
    </div> <!-- / .container -->
{% endblock %}
