{% extends 'dashboard/dashboard.html.twig' %}

{% block pageContent %}
    <div class="container-md">
        <div class="row">
                        <div class="col-12 col-md-3">

                            {% set activeItem = 'claims' %}
                            {% include 'dashboard/sidenavbar.html.twig' %}

                        </div>

            <div class="col-12 col-md-9">

                <!-- Card -->
                <div class="card card-bleed shadow-light-lg mb-6">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-1">

                                <!-- Back Button -->
                                <a class="btn btn-sm btn-primary" href="{{ path('app_dashboard_claims') }}">
                                    {{ 'back'|trans|capitalize }}
                                </a>

                            </div>

                            <div class="col-10 text-center">

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if resource|default %}

                        <div class="list-group-item" style="padding-bottom: 0rem; border: none;">
                            <!-- Header -->
                            <div class="row mb-5">
                                <div class="col">

                                    <!-- Heading -->
                                    <div class="list-group list-group-flush">
                                        <!-- Property of this claim -->
                                        <div style="border: none" class="list-group-item pb-0">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                </div>
                                                <div class="col-11 ml-n5">
                                                    <!-- Heading -->
                                                    <p class="mb-0 font-weight-bold">
                                                        {{ 'scope' }}
                                                    </p>
                                                    <!-- Text -->
                                                    <p class="text-gray-700">
                                                        {{ resource.property }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% if resource.data is defined and resource.data is not empty %}
                                            {% for key, value in resource.data %}
                                                <div style="border: none" class="list-group-item pb-0">
                                                    <div class="row align-items-center">
                                                        <div class="col-auto">
                                                        </div>
                                                        <div class="col-11 ml-n5">
                                                            <!-- Heading -->
                                                            <p class="mb-0 font-weight-bold">
                                                                {{ key }}
                                                            </p>
                                                            <!-- Text -->
                                                            <p class="text-gray-700">
                                                                {{ value }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>

                {% if resource.authorizations is defined and resource.authorizations is not empty %}
                    <!-- Card -->
                    <div class="card card-bleed shadow-light-lg mb-6">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col text-center">

                                    <!-- Heading -->
                                    <h4 class="mb-0">
                                        {{ 'this are the authorizations on this claim:'|trans|capitalize }}
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- list of authorizations -->
                            {% set authorizations = resource.authorizations %}
                            {% include 'dashboard/widgets/authorization_list.html.twig' %}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- Modals -->
    {% if resource.authorizations is defined and resource.authorizations is not empty %}
        {% for authorization in resource.authorizations %}
            {% set application = commonground_resource(authorization.application.contact) %}
            {% include 'dashboard/modals/view_dossiers_modal.html.twig' %}
            {% include 'dashboard/modals/delete_authorization_modal.html.twig' %}

            {% if authorization.dossiers is defined and authorization.dossiers is not empty %}
                {% for dossier in authorization.dossiers %}
                    {% include 'dashboard/modals/delete_dossier_modal.html.twig' %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
