{% extends 'dashboard/dashboard.html.twig' %}

{% block pageContent %}
    <div class="container-md">
        <div class="row">
            <div class="col-12 col-md-3">

                {% set activeItem = 'organizations' %}
                {% include 'dashboard/sidenavbar.html.twig' %}

            </div>

            <div class="col-12 col-md-9">

                <!-- Card -->
                <div class="card card-bleed shadow-light-lg mb-6">
                    <div class="card-header">

                        <div class="row align-items-center">
                            <div class="col">

                                <!-- Heading -->
                                <h4 class="mb-0">
                                    {{ 'organizations'|trans|capitalize }}
                                </h4>

                            </div>
                            <div class="col-auto">

                                <!-- Button -->
                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modalOrganization">
                                    {{ 'add new'|trans|capitalize }}
                                </button>

                            </div>
                        </div>

                    </div>
                    <div class="card-body">

                        {% if resources is defined and resources is not empty %}
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">{{ 'name'|trans|capitalize }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for resource in resources %}
                                    <tr>
                                        <td>{{ resource.name }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p class="hint__title">{{ 'no organizations available'|trans|capitalize }}</p>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- modals -->
    <div class="modal fade" id="modalOrganization" tabindex="-1" role="dialog" aria-labelledby="modalPaymentTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <!-- Close -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <!-- Heading -->
                    <h2 class="font-weight-bold text-center mb-1" id="modalPaymentTitle">
                        {{ 'add organization'|trans|capitalize }}
                    </h2>

                    <!-- Form -->
                    <form method="post" action="{{ path('app_dashboard_organizations') }}">

                        <!-- Name -->
                        <div class="form-group">
                            <label for="name">{{ 'name'|trans|capitalize }} <span style="color: red; font-weight: bold">*</span></label>
                            <input required class="form-control" name="name" id="name" type="text" placeholder="{{ 'name'|trans|capitalize }}">
                        </div>

                        <!-- Name -->
                        <div class="form-group">
                            <label for="email">{{ 'email'|trans|capitalize }} <span style="color: red; font-weight: bold">*</span></label>
                            <input required class="form-control" name="email" id="email" type="text" placeholder="{{ 'email'|trans|capitalize }}">
                        </div>

                        <!-- Name -->
                        <div class="form-group">
                            <label for="description">{{ 'description'|trans|capitalize }} <span style="color: red; font-weight: bold">*</span></label>
                            <textarea required name="description" class="form-control" id="description" rows="3"></textarea>
                        </div>

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="logo">
                            <label class="custom-file-label" for="customFile">{{ 'choose logo' }}</label>
                        </div>


                        <!-- Submit -->
                        <button class="btn btn-block btn-primary mt-3 lift">
                            {{ 'add organization' }}
                        </button>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
