<!-- Card -->
<div class="card card-bleed shadow-light-lg mb-6">
    <div class="card-header">

        <div class="row align-items-center">
            <div class="col">

                <!-- Heading -->
                <h4 class="mb-0">
                    {{ 'applications'|capitalize }}
                </h4>

            </div>
            <div class="col-auto">

                <!-- Button -->
                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modalApplication">
                    {{ 'add new'|trans|capitalize }}
                </button>

            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="list-group list-group-flush">
            {% if applications is defined and applications is not empty %}
                {% for application in applications %}
                    {% if application.contact is defined and application.contact is not empty and application.contact %}
                        {% set applicationContact = commonground_resource(application.contact) %}
                    {% endif %}
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto">
                            {% if applicationContact.style.favicon.base64 is defined %}
                                    <!-- Avatar -->
                                    <div class="avatar avatar-xl">
                                        <img
                                            class="avatar-img"
                                            src="{{ applicationContact.style.favicon.base64 }}"
                                            alt="..."
                                            style="object-fit: fill;
                                            {% if application.backgroundColor is defined and application.backgroundColor|length > 0 %}
                                                background-color: {{ application.backgroundColor[1] }};
                                            {% endif %}"
                                        >
                                    </div>
                            {% endif %}
                            </div>
                            <div class="col ml-n5">
                                <!-- Heading -->
                                <p class="mb-0">
                                    {{ application.name }}
                                </p>
                            </div>
                            <div class="col-12 col-md-auto">
                                <a class="btn btn-xs btn-primary btn-block mt-5 mt-md-0" href="#">Open</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
