{% if claims is defined and claims is not empty %}
    <div class="list-group list-group-flush">
        {% for claim in claims %}
            <div class="list-group-item" style="padding-bottom: 0rem">
                <!-- Header -->
                <div class="row mb-5">
                    <div class="col">

                        <!-- Heading -->
                        <h4 class="mb-0">
                            {% if claim.data is defined and claim.data is not empty %}
                                {% for dataItem in claim.data %}
                                    {% if loop.last %}
                                        {{ dataItem }}
                                    {% else %}
                                        {{ dataItem }},
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </h4>

                        <!-- Text -->
                        <small class="text-gray-700">
                            {% if claim.property is defined and claim.property is not empty %}
                                {{ claim.property }}
                            {% endif %}
                        </small>

                    </div>
                    <div class="col-auto mr-n5">

                        <!-- Button -->
                        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modalEditClaim{{ claim.id }}">
                            {{ 'edit'|trans|capitalize }}
                        </button>

                    </div>

                    <div class="col-auto">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a class="text-gray-400 text-decoration-none" data-toggle="dropdown" href="#" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu" style="">
                                <a class="dropdown-item" href="#">{{ 'view authorizations'|trans|capitalize }}</a>
                                <a class="dropdown-item" href="#">{{ 'view dossiers'|trans|capitalize }}</a>
                                <a class="dropdown-item" href="#">{{ 'view usage_2'|trans|capitalize }}</a>
                                <button class="dropdown-item" data-toggle="modal" data-target="#modalDeleteClaim{{ claim.id }}" style="color: red">{{ 'delete data'|trans|capitalize }}</button>
                            </div>
                        </div>

                    </div>
                </div>

                {% if claim.proofs is defined and claim.proofs is not empty %}
                    <div class="row">
                        <div class="col">
                            <!-- Subheading -->
                            <h5> {{ 'issuers'|trans|capitalize }} </h5>
                        </div>

                        <div class="col-auto mr-n5">
                            <!-- Link -->
                            <a class="small text-gray-700" target="_blank" href="{{ path('app_documentation_glossary') }}#issuer">
                                {{ 'what is an issuer?'|trans|capitalize }}
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        {% for proof in claim.proofs %}
                            <div class="col-auto">
                                <!-- Item -->
                                <div class="d-flex">

                                    {% if proof.application.contact is defined and proof.application.contact is not empty and commonground_is_resource(proof.application.contact) %}
                                        {% set application = commonground_resource(proof.application.contact) %}

                                        {% if application.organization.style.favicon.base64 is defined and application.organization.style.favicon.base64 is not empty %}
                                            <!-- Icon -->
                                            <div class="avatar avatar-xl">
                                                <img class="avatar-img"
                                                     src="{{ application.organization.style.favicon.base64 }}"
                                                     alt="..."
                                                     style="object-fit: fill;"
                                                >
                                            </div>
                                        {% else %}
                                            <!-- Check -->
                                            <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                                <i class="fe fe-check"></i>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    {% if proof.type is defined and proof.type is not empty %}
                                        <!-- Text -->
                                        <p>
                                            {{ proof.type }}
                                        </p>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="hint__title">{{ 'no claims available'|trans|capitalize }}</p>
{% endif %}
