{% if dossiers is defined and dossiers is not empty %}
    <div class="list-group list-group-flush">
        {% for dossier in dossiers %}
            <div class="list-group-item">
                <!-- Header -->
                <div class="row mb-5">
                    <div class="col">

                        <!-- Heading -->
                        <h4 class="mb-0">
                            {{ dossier.name }}
                        </h4>

                        {% if dossier.expiryDate is defined and dossier.expiryDate is not empty %}
                            <!-- Text -->
                            <small class="text-gray-700">
                                {{ 'expiry date'|trans|capitalize }}: {{ dossier.expiryDate|date("d-m-Y", "Europe/Paris") }}
                            </small>
                        {% endif %}

                    </div>

                    <div class="col-auto">

                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a class="text-gray-400 text-decoration-none" data-toggle="dropdown" href="#" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu" style="">
                                <a class="dropdown-item" href="{{ path('app_dashboard_dossier',{'id': dossier.id}) }}">{{ 'view dossier'|trans|capitalize }}</a>
                                <button class="dropdown-item" data-toggle="modal" data-target="#modalDeleteDossier{{ dossier.id }}" style="color: red">{{ 'delete dossier'|trans|capitalize }}</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="hint__title">{{ 'no dossiers available'|trans|capitalize }}</p>
{% endif %}
