<!-- Card -->
<div class="card card-bleed shadow-light-lg mb-6">
    <div class="card-header">
        <!-- Heading -->
        <div class="list-group-item" style="border: none; padding: 0;">
            <div class="row align-items-center">
                <div class="col-6">
                    <!-- Heading -->
                    <h4 class="mb-0">
                        {{ group.name|capitalize }}
                    </h4>
                    <small class="text-gray-700">
                        {{ 'group for application:'|trans|capitalize }} {{ group.application.name }}
                    </small>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <!-- Form -->
        <form method="post" action="{{ path('app_dashboard_group', {id: group.id})  }}">
            <div class="row">
                <div class="col-12 col-md-6">
                    <!-- Name -->
                    <div class="form-group">
                        <label for="name">{{ 'name'|trans|capitalize }} </label>
                        <input class="form-control" name="name" id="name" type="text" placeholder="{{ 'name'|trans|capitalize }}"
                               value="{{ group.name }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Name -->
                    <div class="form-group">
                        <label for="description">{{ 'description'|trans|capitalize }} </label>
                        <textarea class="form-control" name="description" id="description" cols="2" rows="2" placeholder="{{ 'description'|trans|capitalize }}">{% if group.description is defined and group.description is not empty %}{{ group.description }}{% endif %}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8">
                    <!-- Name -->
                    <div class="form-group">
                        <label for="domain">{{ 'organization'|trans|capitalize }} </label>
                        <input class="form-control" name="organization" id="organization" type="text" placeholder="{{ 'organization uri'|trans|capitalize }}"
                            {% if group.organization is defined and group.organization is not empty %}
                               value="{{ group.organization }}"
                        {% endif %}>
                    </div>
                </div>
            </div>
                        <div class="row">
                <div class="col-12 col-md-auto">
                    <!-- Button -->
                    <button class="btn btn-block btn-primary" name="updateInfo" value="true" type="submit">
                        {{ 'save changes'|trans|capitalize }}
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    function switchInputType(elementId) {
        element = document.getElementById(elementId);
        if (element.type == 'password') {
            element.type = 'text';
        } else {
            element.type = 'password'
        }
    }
</script>
