<!-- Card -->
<div class="card card-bleed shadow-light-lg mb-6">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">

                <!-- Heading -->
                <h4 class="mb-0">
                    {{ 'password'|trans|capitalize }}
                </h4>

            </div>
            <div class="col-auto">

                <!-- Link -->
                <a class="small text-gray-700" href="#!">
                    {{ 'forgot your password?'|trans|capitalize }}
                </a>

            </div>
        </div>
    </div>
    <div class="card-body">

        <!-- Current password -->
        <div class="form-group">
            <label for="currentPassword">{{ 'current password'|trans|capitalize }}</label>
            <input class="form-control" id="currentPassword" type="password">
        </div>

        <!-- New password -->
        <div class="form-group">
            <label for="newPassword">{{ 'new password'|trans|capitalize }}</label>
            <input class="form-control" id="newPassword" type="password">
        </div>

        <!-- Confirm password -->
        <div class="form-group">
            <label for="confirmPassword">{{ 'confirm password'|trans|capitalize }}</label>
            <input class="form-control" id="confirmPassword" type="password">
        </div>


        <div class="row">
            <div class="col-12 col-md-auto">

                <!-- Button -->
                <button class="btn btn-block btn-primary" type="submit">
                    {{ 'update password'|trans|capitalize }}
                </button>

            </div>
        </div>

    </div>
</div>
